@import '../../stylesheets/placeholders/flex-helpers.scss';
@import '../../stylesheets/design_vars.scss';

.modal-bg {
  position: fixed;
  z-index: 20;
  @extend %amm-flex-column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.75);
}
.modal-panel {
  z-index: 21;
  @extend %amm-flex-column;
  justify-content: space-between;
  align-items: center;
  min-height: 300px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid $border-gray;
}
@media screen and (max-width: $breakpoint-small) {
  .modal-panel {
    width: calc(100% - 20px) !important;
    overflow-y: auto;
    overflow-x: hidden;
  }
}